[Unit]
Description=Generate wallpaper with Chinese poetry
After=graphical-session.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gjs -m %h/.local/share/hypr-shuzhi/src/main.js
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1

[Install]
WantedBy=default.target
