[Unit]
Description=Refresh wallpaper with new poetry on schedule

[Timer]
OnBootSec=60s
OnUnitActiveSec=30min
RandomizedDelaySec=60s

[Install]
WantedBy=timers.target
